body {
	background: #FFD7BCFF;
}

h1 {
	color: black;
	text-align: center;
}


div {
	margin: auto;
}

.pacman {
	margin: 50px 10px;
}

.pacman1 {
	background: #A7E22E;
	height: 100px;
	width: 200px;
	border-radius: 100px 100px 0 0;	
	animation-name: pacman1;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

.pacman2 {
	background: #A7E22E;
	height: 100px;
	width: 200px;
	border-radius: 0 0 100px 100px;
	animation-name: pacman2;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	transition
}


@keyframes pacman1 {
	

	from {
		transform: rotate(0deg);
		right: -300px;
		position: relative;	

	}
	to {
		transform: rotate(45deg);
/*		left: 500px;*/
		right: 500px;

	}
}

@keyframes pacman2 {
	from {
		transform: rotate(0deg);
		right: -300px;	
		position: relative;
	}
	to {
		transform: rotate(-45deg);
		/*left: 500px;*/
		right: 500px;
		/*position: relative;*/
	}
}



